.spinner__box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner {
  height: 3.5rem;
  width: 3.5rem;
  fill: rgb(130, 125, 125);
  animation: spinner 2s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
